.floating-skills-container {
  position: relative;
  width: 100%;
  height: 70vh; /* Increased height */
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.quadrant {
  position: relative;
  border-radius: 12px;
  overflow: hidden; /* Hide icon overflow */

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quadrant-title {
  font-size: 2rem;
  font-weight: 900;
  z-index: 1;
  color: var(--text-primary);

  text-shadow: 0 0 6px var(--secondary), 0 0 6px var(--secondary),
    0 0 6px var(--secondary), 0 0 6px var(--secondary), 0 0 6px var(--secondary);
}

/* Specific quadrant background colors */
.front-end {
  background-color: rgba(45, 55, 72, 0.3); /* Slightly transparent dark blue */
}
.back-end {
  background-color: rgba(56, 66, 82, 0.3);
}
.devops-tools {
  background-color: rgba(66, 76, 92, 0.3);
}
.other {
  background-color: rgba(76, 86, 102, 0.3);
}

.skill-bubble {
  position: absolute;
  color: var(--text-primary);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

/* Add a subtle glow to the icons */
.skill-bubble svg {
  filter: drop-shadow(0 0 5px rgba(113, 128, 147, 0.5));
  width: 100%;
  height: 100%;
}

.floating-skills-container .modal-backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-mask-bg);
  z-index: 100;
  color: var(--text-primary);
}

.floating-skills-container .modal-content {
  background-color: var(--background);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  max-width: 800px;
  height: 50%;
}

.modal-sidebar {
  width: 310px;
  border-left: 1px solid var(--primary);
  padding-left: 20px;
  overflow-y: auto;
  flex-basis: 33%;
}

.modal-main-content {
  flex-basis: 66%;
  padding-left: 20px;
}

.modal-sidebar h3 {
  text-decoration: underline;
  margin-top: 0;
  font-size: 1.2rem;
  color: var(--primary);
  margin-bottom: 0.2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--primary-light);
}

.modal-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-sidebar li {
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 5px;
}

.modal-sidebar li:hover {
  background-color: var(--primary-light);
}

.modal-sidebar li.active {
  background-color: var(--primary);
  color: var(--white);
}

.floating-skills-container .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 0.5rem;
}

.floating-skills-container .modal-header h2 {
  border-bottom: 2px solid var(--primary);
}

.floating-skills-container .close-text {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

.close-button {
  background: transparent;
  border: none;
  color: var(--text-secondary);
  cursor: pointer;
  padding: 0.5rem;
}

.close-button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.close-button:hover {
  color: var(--danger);
}
