
:root {
  /* Border radius */
  --border-radius: 5px;


  /* Color palette */
  --primary: #3bb09e;
  --secondary: #889fbe;
  --accent: #202354af;
  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;
  --background: #1b1c1d;

  /* Sidebar */

  --sidebar-bg: #282a2c;
  --sidebar-text: #f9fafb;
  --sidebar-hover-bg: #1f6e89;
  --sidebar-main-bg: #f3f4f6;
  --sidebar-border-color: #3bb09e;

  /* gradient colors */
  --gradient-color-1: #ff6ec4;
  --gradient-color-2: #7873f5;
  --gradient-color-3: #4ade80;
  --gradient-color-4: #22d3ee;
  --gradient-color-5: #facc15;

  /* Text colors */
  --text-primary: #f9fafb;
  --text-secondary: #9ca3af;

  --modal-mask-bg: rgba(212, 189, 189, 0.5);

}

* {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}
