:root {
  /* Border radius */
  --border-radius: 5px;

  /* Color palette */
  --primary: #09bbec;
  --secondary: #64748b;
  --accent: #8b5cf6;
  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;

  /* Sidebar */

  --sidebar-bg: #108498;
  --sidebar-text: #d1d5db;
  --sidebar-text-hover: #f9fafb;
  --sidebar-hover-bg: #1f2937;
  --sidebar-main-bg: #f3f4f6;
  --sidebar-border-color: #374151;
}

* {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
