.layout-shell {
  display: flex;
  min-height: 100vh;
}

/* --- Sidebar Styles --- */
.sidebar {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  overflow: hidden;
  position: relative;
  flex-shrink: 0; /* Prevents sidebar from shrinking */
  box-shadow: 0.1px 0px 3px 0px #c7c0c091;
  z-index: 10;
}

.sidebar-inner {
  position: fixed;
  width: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  min-height: 40px;
}

.flex-col {
  flex-direction: column;
}

.sidebar-header > *:only-child {
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(----text-secondary);
}

.toggle-button {
  background: transparent;
  border: 1px solid var(--sidebar-border-color);
  color: var(--sidebar-text);
  font-size: 1rem;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s, background-color 0.2s;
}

.toggle-button:hover {
  color: var(----text-secondary);
  background-color: var(--sidebar-hover-bg);
}

/* --- Navigation Menu Styles --- */
.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-menu .active {
  background-color: var(--sidebar-hover-bg);
  color: var(----text-secondary);
}

.nav-menu li .nav-button:active {
  background-color: var(--sidebar-hover-bg);
  animation: grow-and-shrink 0.2s ease-in-out;
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.nav-menu li .nav-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  color: var(--sidebar-text);
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  border-radius: var(--border-radius);
  transition: color 0.2s, background-color 0.2s;

  position: relative;
}

.nav-menu ul li button {
  position: relative;
}
.nav-menu ul li button:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--primary);
  height: 2px;
  transition: width 0.3s ease-out;
}
.nav-menu ul li button:hover:after {
  width: 60%;
}

.nav-icon {
  font-size: 1.25rem;
  min-width: 24px; /* Ensures alignment */
  display: flex;
  justify-content: center;
}

.nav-text {
  font-weight: 900;
  font-size: 1.1rem;
}

/* --- Main Container Styles --- */
.main-container {
  flex-grow: 1;
  overflow-y: auto;
  background-color: var(--background);
}

.main-header {
  display: none; /* Hidden by default, shown on mobile */
}
